/* body */

body {
	font-family: 'Roboto' sans-serif;
	color: #434455;
	font-size: 16px;
	line-height: 1.5;
	background-color: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h3>p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;

}

/* header */

#header {
	border: 1px solid #e7e9fc;
}

.header-logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	text-decoration: none;
}

.header-logo-studio {
	color: #2e2f42;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration: underline;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.03em;
}
  
.header-info{
  font-style: normal;
}

.menu-bar {
	text-decoration: none;
	color: #434455;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
  font-weight: 500;
}

.menu-bar:hover,
.menu-bar:focus {
	color: #404bbf;
}

.menu-info {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.menu-info:hover,
.menu-info:focus {
  color: #404bbf;
}

.menu:active {
    text-decoration: underline;
    text-decoration-color: #404BBF;
    color:#404BBF;
}

/* hero-section-1 */

.hero {
  background-color: #2E2F42;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color:#ffffff;
}

.hero-button {
  background: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {   
  background: #404BBF;
}

.hero-button:active {
  background: #2E2F42;
}

/* features-section-2 */
.features-text {
  letter-spacing: 0.002em;
}

/* our team-section-3 */

.team-title {
  text-align: center;
}

.our-team {
 background-color: #F4F4FD;
}
.our-team-title {
  line-height: 1.11;
  text-transform: capitalize;
}

.team-member {
  background-color: #ffffff;
}

.team-member-name {
 
}

.team-title {
  letter-spacing: 0.02em;
}

